{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header ">
            <h2 class="card-title">{{ book.title }}</h2>
        </div>
        <div class="card-body ">
        <p class="lead">
            <span class="font-weight-bold">ISBN:</span> {{ book.isbn }} <br>
            <span class="font-weight-bold">Authors:</span>  {{ book.authors }} <br>
            <span class="font-weight-bold">Publication Date:</span>  {{ book.publication_date }} <br>
            <span class="font-weight-bold">Edition:</span>  {{ book.edition }} <br>
            {% if files %}
            <span class="font-weight-bold">Files:</span> <br>
            <ul>
                {% for file in files %}
                    <li><a href="/resources/{{ book.isbn }}/{{ file }}">{{ file }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title text-center">Content</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <tr><th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            Title
                        </th>
                        <th class="text-center">
                            Video URL
                        </th>
                        <th class="text-center">
                            Actions
                        </th>
                    </tr></thead>
                    <tbody>

                    {% for chapter in chapters %}
                        <tr>
                            <td class="text-center">
                                {{ chapter.chapter }}
                            </td>
                            <td class="text-center">
                                {{ chapter.title }}
                            </td>
                            <td class="text-center">
                                <a href="{{ chapter.video_url|raw }}">{{ chapter.video_url }}</a>
                            </td>
                            <td class="text-center">
                                <form action="" class="mb-1 d-inline">
                                    <button type="submit" rel="tooltip" class="btn btn-info  btn-sm d-inline" data-original-title="" title="View Chapter">
                                        View
                                    </button>
                                </form>
                                <form action="" class="mb-1 d-inline">
                                    <button type="submit" rel="tooltip" class="btn btn-success btn-sm d-inline" data-original-title="" title="Edit Chapter">
                                        Edit
                                    </button>
                                </form>
                                <form action="" class="d-inline">
                                    <button type="submit" rel="tooltip" class="btn btn-danger btn-sm d-inline" data-original-title="" title="Delete Chapter">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row text-center">
                    <div class="col">
                        <a href="/admin/books/new-chapter/{{ book.isbn }}" class="btn btn-primary">Add Chapter</a>
                    </div>
                </div>

                {{ pagination|raw }}
            </div>
        </div>
    </div>
{% endblock %}