{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header ">
            <h4 class="card-title">Delete Message: {{ message.title }}</h4>
        </div>
        <div class="card-body ">
            <p class="text-danger lead">
                Are you sure you want to delete: <br>
                <span class="font-weight-bold">{{ message.title }} sent by {{ message.from_username }} to {{ message.to_username }}</span>
            </p>
        </div>
        <div class="">
            <form action="/admin/messages/destroy/{{ message.id }}" method="post">
                <input type="submit" value="DELETE!" class="btn btn-danger ml-3">
            </form>
        </div>
    </div>

{% endblock %}