{% extends 'base.html.twig' %}

{% block title %}Discussion Board{% endblock %}

{% block body %}
    <div class="">
        <div class="">
            <h4 class="card-title text-center display-4 font-weight-bolder">Posts</h4>
            <h6 class="text-center font-weight-lighter">For: {{ book.title }}</h6>
        </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <tr><th class="text-center">
                            Title
                        </th>
                        <th class="text-center">
                            Username
                        </th>
                        <th class="text-center">
                            Created At
                        </th>
                    </tr></thead>
                    <tbody>

                    {% for post in posts %}
                        <tr>
                            <td class="text-center">
                                <a href="/posts/view/{{ post.id }}" class="font-weight-bolder btn btn-outline-info">{{ post.title }}</a>
                            </td>
                            <td class="text-center">
                                {{ post.username }}
                            </td>
                            <td class="text-center">
                                {{ post.created_at }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ pagination|raw }}
            </div>
        <a href="/posts/new/{{ book.isbn }}" class="btn btn-primary m-4" style="width: 10rem;">New Post</a>
    </div>
{% endblock %}