{% extends 'base.html.twig' %}

{% block body %}
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span> {{ error }} </span>
            </div>
        {% endfor %}
    {% endif %}
    <div class="card">
        <div class="card-header ">
            <h2 class="card-title">Create New Post</h2>
            <h5>For {{ book.title }}</h5>
        </div>
        <div class="card-body">
            <form method="post" action="/posts/create/{{ book.isbn }}">
                <div class="form-group row">
                    <div class="col-10">
                        <label for="chapterTitle">Title:</label>
                        <input type="text" class="form-control" id="chapterTitle" name="title"
                               placeholder="Enter Post Title" value="{{ post.title }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="summernote">Body:</label>
                    {% include 'summernote.twig' %}
                </div>
                <div class="form-group">
                    <input type="hidden" name="isbn" value="{{ book.isbn }}">
                    <input type="submit" value="Add Post" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}