{% extends 'base.html.twig' %}

{% block body %}
    <div class="border rounded mb-5">
        <div class="card-header ">
            <h2 class="card-title">{{ post.title }}</h2>
            <h5>For {{ book.title }}</h5>
            <h6>By: <a style="color: darkblue;" href="/profile/view/{{ post.user_id }}">{{ post.username }}</a>
                {% if post.userType == 'author' %}
                    <span class="badge badge-info">Author</span>
                {% elseif post.userType == 'admin' %}
                    <span class="badge badge-info">Admin</span>
                {% endif %}</h6>

            <form action="/posts/downvote/{{ post.id }}" id="downvote_form" method="post">
                <button form="downvote_form" value="" class="btn btn-sm btn-outline-danger float-right m-1">{{ down_points }}<i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
            </form>
            <form action="/posts/upvote/{{ post.id }}" id="upvote_form" method="post">
                <button form="upvote_form" class="btn btn-sm btn-outline-success float-right m-1">{{ up_points }}<i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
            </form>
            <h1 class="p-1"></h1>
        </div>
        <div class="card-body">
            <p class="lead">
                {{ post.body|raw }}
            </p>
        </div>
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style m-2" data-a2a-title="Read This Post">
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_email"></a>
            <a class="a2a_button_whatsapp"></a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <a role="button" aria-disabled="true" href="/reports/add/{{ post.id }}" class="btn btn-danger btn-sm ml-2 mb-1"><i class="fa fa-flag" aria-hidden="true"></i>
            Report</a>
        <!-- AddToAny END -->
    </div>

    {% for reply in replies %}
        <div class="card p-3" style="border-top: 4px solid gray;">
            <div class="round">
                By: <a style="color: darkblue;" href="/profile/view/{{ reply.user_id }}">{{ reply.username }}</a>
                {% if reply.userType == 'author' %}
                    <span class="badge badge-info">Author</span>
                {% elseif reply.userType == 'admin' %}
                    <span class="badge badge-info">Admin</span>
                {% endif %}
                <a role="button" aria-disabled="true" href="/reports/add-reply/{{ reply.id }}" class="btn btn-danger btn-sm ml-1 mb-1"><i class="fa fa-flag" aria-hidden="true"></i>
                    Report</a>
                <br>Created At: {{ reply.created_at }}
                <form action="/replies/downvote/{{ reply.id }}" id="downvote_form_{{ reply.id }}" method="post">
                    <button form="downvote_form_{{ reply.id }}" value="" class="btn btn-sm btn-outline-danger float-right m-1">{{ reply.down_points }}<i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                </form>
                <form action="/replies/upvote/{{ reply.id }}" id="upvote_form_{{ reply.id }}" method="post">
                    <button form="upvote_form_{{ reply.id }}" class="btn btn-sm btn-outline-success float-right m-1">{{ reply.up_points }}<i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                </form>
                <h1 class="p-1"></h1>
            </div>
            <div class="card-body">
                {{ reply.text|raw }}
            </div>
        </div>
    {% endfor %}

    {{ pagination|raw }}

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Reply to Post</h4>
        </div>
        <div class="card-body">
            <form action="/replies/create" method="post">
                {% include 'summernote.twig' %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <input type="submit" value="Reply" class="btn btn-primary mt-3">
            </form>
        </div>
    </div>

{% endblock %}