{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title text-center">Users</h4>
        </div>
        <div class="container">
            <form method="get" action="/admin/users/search">
                <div class="form-group">
                    <label for="InputISBN">Email</label>
                    <input type="text" class="form-control" id="InputISBN" placeholder="Enter Email" name="email">
                </div>
                <div class="form-group">
                    <label for="InputTitle">Name</label>
                    <input type="text" class="form-control" id="InputTitle" placeholder="Or Enter Name" name="name">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <tr><th class="text-center">
                            Name
                        </th>
                        <th class="text-center">
                            Email
                        </th>
                        <th class="text-center">
                            Active
                        </th>
                        <th class="text-center">
                            Type
                        </th>
                        <th class="text-center">
                            Actions
                        </th>
                    </tr></thead>
                    <tbody>

                    {% for user in users %}
                        <tr>
                            <td class="text-center">
                                {{ user.name }}
                            </td>
                            <td class="text-center">
                                {{ user.email }}
                            </td>
                            <td class="text-center">
                                {{ user.is_active }}
                            </td>
                            <td class="text-center">
                                {{ user.type }}
                            </td>
                            <td class="text-center">
                                <form action="/admin/users/edit/{{ user.id }}" class="mb-1 d-inline">
                                    <button type="submit" rel="tooltip" class="btn btn-success btn-sm d-inline">
                                        Edit
                                    </button>
                                </form>
                                <form action="/admin/users/delete/{{ user.id }}" class="d-inline">
                                    <button type="submit" rel="tooltip" class="btn btn-danger btn-sm d-inline">
                                        Delete
                                    </button>
                                </form>
                                {% if user.is_active %}
                                <form action="/admin/users/deactivate/{{ user.id }}" class="mb-1 d-inline">
                                    <button type="submit" rel="tooltip" class="btn btn-warning btn-sm d-inline">
                                        Deactivate
                                    </button>
                                </form>
                                {% else %}
                                <form action="/admin/users/activate/{{ user.id }}" class="mb-1 d-inline">
                                    <button type="submit" rel="tooltip" class="btn btn-success btn-sm d-inline">
                                        activate
                                    </button>
                                </form>
                                {% endif %}
                                <a href="/profile/view/{{ user.id }}" class="btn btn-info btn-sm d-inline">Profile</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ paginator|raw }}
            </div>
        </div>
    </div>
{% endblock %}